apiVersion: v1
kind: Service
metadata:
  name: service5
  namespace: service5
  labels:
    app: service5
spec:
  type: ClusterIP
  ports:
    - port: 3000
      targetPort: 3000
      protocol: TCP
      name: http
  selector:
    app: service5
